Source: grub-once
Section: admin
Priority: optional
Maintainer: Stefan Meinecke <meinecke@greensec.de>
Standards-Version: 4.5.1
Build-Depends: debhelper (>= 10)
Homepage: https://build.opensuse.org/package/show/openSUSE:Factory/grub2
#Vcs-Browser: https://salsa.debian.org/debian/grub2-once
#Vcs-Git: https://salsa.debian.org/debian/grub2-once.git

Package: grub-once
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, perl, grub2-common
Description: Set the default boot entry for the next boot only.
 Tool which reads all active bootloader entries from grub and
 preselects active entries for the boot process.
 Reset selection to default on next normal boot.
