Package: grub2-once
Version: 2.06-17.2-1
Architecture: amd64
Maintainer: Stefan Meinecke <meinecke@greensec.de>
Installed-Size: 26
Depends: perl
Section: admin
Priority: optional
Homepage: https://build.opensuse.org/package/show/openSUSE:Factory/grub2
Description: Set the default boot entry for the next boot only.
 Tool which reads all active bootloader entries from grub and
 preselects active entries for the boot process.
 Reset selection to default on next normal boot.
